# Ignore files for the git repository of our docker builds
# Dependency directories

# database-mongo ignore
database-mongo/data

# webserver-node ignores
webserver-node/node_modules

# test ignores
test/node_modules